<!-- Navigation bar using Bootstrap -->
<nav class="navbar navbar-expand-xs">
  <div class="container">
    <div class="navbar nav">
      <a class="nav-link"
         routerLink="/home">Home</a>
      <!-- TODO: hide/remove the About Rory link when on the /about page -->
      <a class="nav-link"
         routerLink="/about">About Rory</a>
      <!-- TODO: hide/remove the Portfolio link when on the /portfolio page -->
      <a class="nav-link"
         href="#">Portfolio</a>
    </div>
  </div>
</nav>
